table {
    border-collapse:separate;
    border: 1px solid #dddddd;
    border-radius:7px;
    border-spacing: 0px;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
td, th {
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 0.5em;
}
th {
    border-top: none;
    background-color: white;
}
td:first-child, th:first-child {
     border-left: none;
}
td[colspan] {
  background-color: white;
}
tr:nth-child(even) {
  background: #f9f9f9
}
tr:hover {
  background-color: #bdbdbd;
}

h1 {
  margin-left: 10%;
}

.details-header {
  padding-block-start: 0.83em;
  padding-block-end: 0.83em;
  margin-block-start: 0;
  background-color: #bdbdbd;
  margin: -0.34em;
  margin-bottom: 0;
  padding: 0.3em;
}
.details-header:hover {
  background-color: #898989;
  color:white;
}

.comment {
  border: 1px solid #dddddd;
  padding: .3em;
  margin: .3em;
  border-radius: 7px;
}

p.comment-mesage {
  margin-left: 1em;
}

div.created-time {
  float: right;
}

button {
  border-radius: 2px;
  border-width: 1px;
  padding: 0.22em;
  border: 1px solid #898989;
}
button:hover {
  background-color: #bdbdbd;
}

button.delete-button {
  background-color: #d9534f;
  border-color: #d43f3a;
  float: right;
  color: white;
}
button.delete-button:hover{
  background-color: #d43f3a;
}

.error-notification {
  border-style: solid;
  color: #a94442;
  border-width: 4px;
  border-radius: 7px;
  font-size: 2em;
  margin: 20px;
  background-color: #f2dede;
  padding: 4px;
}

.success-notification {
  border-style: solid;
  color: #3c763d;
  border-width: 4px;
  border-radius: 7px;
  font-size: 2em;
  margin: 20px;
  background-color: #dff0d8;
  padding: 4px;
}

.notification {
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.95;
}

.notification button {
  float: right;
}

button.show-all-event-details {
  float: left;
}

textarea {
  height: 5em;
}

form {
  margin: 1em auto;
  width: 80%;
}

form fieldset {
  border: 1px solid #dddddd;
  border-radius: 7px;
}

.event-form fieldset {
  background-color: #f9f9f9;
}

.comment-form fieldset {
  background-color: #f9f9f9;
}

input, textarea {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  border: #dddddd 1px solid;
}