table, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

.details-header {
  padding-block-start: 0.83em;
  padding-block-end: 0.83em;
  margin-block-start: 0;
  background-color: lightgrey;
}