table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}
tr td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: right;
}
td, th {
  padding: 0.3em;
}
tr td:first-child {
  text-align: left;
  width: 60%;
}

.details-header {
  padding-block-start: 0.83em;
  padding-block-end: 0.83em;
  margin-block-start: 0;
  background-color: lightgrey;
  margin: -0.2em;
  padding: 0.3em;
}

.comment {
  border: 1px solid lightgrey;
  padding: .3em;
  margin: .3em;
}

p.comment-mesage {
  margin-left: 1em;
}

div.created-time {
  float: right;
}

button.delete-button {
  background-color: red;
  float: right;
  color: white;
}

.error-notification {
  border-style: solid;
  color: red;
  border-width: 4px;
  border-radius: 6px;
  font-size: 2em;
  margin: 20px;
  background-color: lightgrey;
  padding: 4px;
}

.success-notification {
  border-style: solid;
  color: green;
  border-width: 4px;
  border-radius: 6px;
  font-size: 2em;
  margin: 20px;
  background-color: lightgrey;
  padding: 4px;
}

.notification {
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.95;
}

.notification button {
  float: right;
}

button.show-all-event-details {
  float: left;
}

textarea {
  height: 5em;
}

form {
  margin: 1em auto;
  width: 80%;
}

form fieldset {
  border: 1px solid lightgrey;
}

input, textarea {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}